#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* --------------------------Home */

.main-page {
  background-color: #f5f6fa;
  min-height: 100vh;
  padding: 3rem;
  font-family: 'Inter', sans-serif;
}

.main-page-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 8px;
}

.main-page-nav-tab {
  padding: 8px 9px;
  /* font-size: 0.8rem; */
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  color: #555;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.main-page-nav-tab.active {
  background-color: #0C2D57;
  color: #fff;
  font-weight: 600;
}

.main-page-nav-tab:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.main-page-nav-tab.active:hover {
  background-color: #0C2D57;
}

.wallet-title {
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wallet-card {
  padding: 0;
}

.wallet-row {
  display: flex;
  border-bottom: 1px solid #ededed;
}

.wallet-lrow {
  display: flex;
  /* border-bottom: 1px solid #ededed; */
}

.graycolor {
  background-color: #eef0f5;
}

.wallet-heading {
  padding: 12px;
  width: 179px;
  color: #0C2D57;
  display: flex;
}

.wallet-p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  width: 412px;
  justify-content: flex-start;
}

.withdraw-container {
  display: flex;
  justify-content: space-between;
}

.withdraw-heading {
  font-size: 0.8rem;
}

.Input-heading {
  background-color: white;
  border-radius: 22px;
  height: 20px;
  padding: 6px;
  outline: inherit;
  border: 1px solid #d8c6c6;
  outline: none;
  color: black;
}

/* .main-page-nav-tab {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  color: #555;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.main-page-nav-tab:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.main-page-nav-tab.active {
  background-color: #0C2D57;
  color: #fff;
  font-weight: 600;
}

.main-page-nav-tab.active:hover {
  background-color: #0C2D57;
} */